{% extends 'userbase.html' %}
{% load custom_filters %}

{% block content %}
<div class="container-fluid mt-2">
    <!-- Banner -->
    <div class="banner-container">
        <img src="/media/product_Images/banner2.jpg" alt="Banner" class="img-fluid banner-img">
    </div>

    {% if search_query %}
        <h4 class="mb-3 text-center mt-3">Search result for "{{ search_query }}" </h4>
    {% endif %}

    <!-- Filter Section -->
    <div class="d-flex justify-content-between align-items-center mt-4">
        <div class="form-inline">
            <label for="sortSelect" class="me-2">Sort by:</label>
            <select id="sortSelect" class="form-select" onchange="filterProducts()">
                <option value="popularity">Popularity</option>
                <option value="price_low_to_high">Price: Low to High</option>
                <option value="price_high_to_low">Price: High to Low</option>
                <option value="average_rating">Average Ratings</option>
                <option value="featured">Featured</option>
                <option value="new_arrivals">New Arrivals</option>
                <option value="a_to_z">A - Z</option>
                <option value="z_to_a">Z - A</option>
            </select>
        </div>
    </div>

    <!-- Product List -->
    <div id="product-list">
        {% include 'partials/product_list.html' %}
    </div>

    {% include 'partials/pagination.html' %}
</div>

<script>
    function filterProducts() {
        const sortOption = document.getElementById('sortSelect').value;
        loadPage(1, sortOption);
    }

    function loadPage(pageNumber, sortOption = null) {
        const sort = sortOption || document.getElementById('sortSelect').value;
        const url = new URL(window.location.href);
        url.searchParams.set('page', pageNumber);
        url.searchParams.set('sort', sort);

        fetch(url, {
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('product-list').innerHTML = data.html;
        })
        .catch(error => console.error('Error:', error));
    }

    // On page load, set the selected option
    document.addEventListener("DOMContentLoaded", function() {
        const sortOption = "{{ sort_option }}";
        document.getElementById('sortSelect').value = sortOption;
    });
</script>


{% endblock %}
