{% extends 'userbase.html' %}

{% block content %}
<main class="container mt-3">
    <div class="row">
        <!-- Sidebar (left) -->
        <div class="col-md-3">
            <div class="card shadow-sm bg-light">
                <div class="card-body p-0">
                    <!-- Profile Section -->
                    <div class="text-center bg-white py-3">
                        <img src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}/media/product_Images/default.jpg{% endif %}" alt="Profile Picture" class="rounded-circle" style="width: 100px;">
                        <p class="mb-1 mt-2">Hello!,<i class="profile-name"><strong>{{ user.username }}</strong></i></p>
                        
                    </div>
        
                    <!-- Navigation Menu -->
                    <ul class="list-unstyled mt-3">
                        <!-- My Orders Section -->
                        <li class="d-flex align-items-center py-2 px-3">
                            <i class="bi bi-house-fill me-2"></i>
                            <a href="#" class="d-block text-dark text-decoration-none">MY ORDERS</a>
                            <i class="fa-solid fa-greater-than ms-auto" style="color: #FFD43B;"></i>
                        </li>
                        <hr class="my-0">
        
                        <!-- Account Settings Section -->
                        <li class="py-2 px-3 bg-white">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-person-circle me-2"></i>
                                <span class="d-block text-muted">ACCOUNT SETTINGS</span>
                            </div>
                            <ul class="list-unstyled ms-3 mt-2">
                                <li><a href="#" class="text-dark text-decoration-none">Profile Information</a></li>
                                <li><a href="#" class="text-dark text-decoration-none">Manage Addresses</a></li>
                                <li><a href="#" class="text-dark text-decoration-none">PAN Card Information</a></li>
                            </ul>
                        </li>
                        <hr class="my-0">
        
                        <!-- Payments Section -->
                        <li class="py-2 px-3 bg-white">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-wallet2 me-2"></i>
                                <span class="d-block text-muted">PAYMENTS</span>
                            </div>
                            <ul class="list-unstyled ms-3 mt-2">
                                <li><a href="#" class="text-dark text-decoration-none">Gift Cards <span class="text-success">₹0</span></a></li>
                                <li><a href="#" class="text-dark text-decoration-none">Saved UPI</a></li>
                                <li><a href="#" class="text-dark text-decoration-none">Saved Cards</a></li>
                            </ul>
                        </li>
                        <hr class="my-0">
        
                        <!-- My Stuff Section -->
                        <li class="py-2 px-3 bg-white">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-folder-fill me-2"></i>
                                <span class="d-block text-muted">MY STUFF</span>
                            </div>
                            <ul class="list-unstyled ms-3 mt-2">
                                <li><a href="#" class="text-dark text-decoration-none">My Coupons</a></li>
                                <li><a href="#" class="text-dark text-decoration-none">Review and Ratings</a></li>
                                <li><a href="#" class="text-dark text-decoration-none">Wishlist</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        {% block profile %} {% endblock %}

        <!-- Profile Details (right) -->
        <div class="col-md-9">
            <!-- Profile Form -->
            <div class="card shadow-sm bg-light">
                <div class="card-body">
                    <h5 class="card-title">Edit Profile</h5>
                    <form method="POST" enctype="multipart/form-data" action="{% url 'userProfile' %}">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="id_username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                {{ profile_form.username }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_gender" class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                                {{ profile_form.gender }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_phone" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                {{ profile_form.phone }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_profile_image" class="col-sm-2 col-form-label">Profile Image</label>
                            <div class="col-sm-10">
                                {{ profile_form.profile_image }}
                            </div>
                        </div>
                        <!-- Email Display -->
                        <div class="row mb-3">
                            <label for="id_email_display" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="id_email_display" value="{{ profile_form.email.value }}" readonly>
                            </div>
                        </div>
                        <!-- Hidden Email Input -->
                        <input type="hidden" name="email" value="{{ profile_form.email.value }}">

                        <!-- Save Changes Button -->
                        <div class="d-flex justify-content-between">
                            <button type="submit" name="profile_submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>


            
            <!-- Change Password Form -->
            <div class="card shadow-sm bg-light mb-3 mt-5">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form method="POST" action="{% url 'userProfile' %}">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="currentPassword" class="col-sm-4 col-form-label">Current Password</label>
                            <div class="col-sm-8">
                                {{ password_form.old_password }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="newPassword1" class="col-sm-4 col-form-label">New Password</label>
                            <div class="col-sm-8">
                                {{ password_form.new_password1 }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="newPassword2" class="col-sm-4 col-form-label">Confirm New Password</label>
                            <div class="col-sm-8">
                                {{ password_form.new_password2 }}
                            </div>
                        </div>
                        <!-- Save Changes Button -->
                        <div class="d-flex justify-content-between">
                            <button type="submit" name="password_submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>

            
        </div>
        
    </div>
</main>

{% endblock %}
