{% extends 'userprofile.html'%}

{% block profile %}
<div class="col-md-9">
    <!-- Profile Form -->
    <div class="card shadow-sm bg-light">
        <div class="card-body">
            <h5 class="card-title">Edit Profile</h5>
            <form method="POST" enctype="multipart/form-data" action="{% url 'userProfileInformation' %}">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="id_username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        {{ profile_form.username }}
                    </div>
                    <div id="username-error">
                        {% for error in profile_form.username.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_gender" class="col-sm-2 col-form-label">Gender</label>
                    <div class="col-sm-10">
                        {{ profile_form.gender }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_phone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                        {{ profile_form.phone }}
                    </div>
                    <div id="phone-error">
                        {% for error in profile_form.phone.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_profile_image" class="col-sm-2 col-form-label">Profile Image</label>
                    <div class="col-sm-10">
                        {{ profile_form.profile_image }}
                    </div>
                    <div id="profile_image-error">
                        {% for error in profile_form.profile_image.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <!-- Email Display -->
                <div class="row mb-3">
                    <label for="id_email_display" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="id_email_display" value="{{ profile_form.email.value }}" readonly>
                    </div>
                </div>
                <!-- Hidden Email Input -->
                <input type="hidden" name="email" value="{{ profile_form.email.value }}">

                <!-- Save Changes Button -->
                <div class="d-flex justify-content-between">
                    <button type="submit" name="profile_submit" class="btn btn-dark">Save Changes</button>
                </div>
            </form>
        </div>
    </div>


    
    <!-- Change Password Form -->
    <div class="card shadow-sm bg-light mb-3 mt-5">
        <div class="card-body">
            <h5 class="card-title">Change Password</h5>
            <form method="POST" action="{% url 'userProfileInformation' %}">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="currentPassword" class="col-sm-4 col-form-label">Current Password</label>
                    <div class="col-sm-8">
                        {{ password_form.old_password }}
                    </div>
                    <div id="old_password-error">
                        {% for error in password_form.old_password.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="newPassword1" class="col-sm-4 col-form-label">New Password</label>
                    <div class="col-sm-8">
                        {{ password_form.new_password1 }}
                    </div>
                    <div id="new_password1-error">
                        {% for error in password_form.new_password1.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="newPassword2" class="col-sm-4 col-form-label">Confirm New Password</label>
                    <div class="col-sm-8">
                        {{ password_form.new_password2 }}
                    </div>
                    <div id="new_password2-error">
                        {% for error in password_form.new_password2.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <!-- Save Changes Button -->
                <div class="d-flex justify-content-between">
                    <button type="submit" name="password_submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>

    
</div>
{% endblock %}
