{% extends 'userbase.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
{% if messages %}
    <div class="alert-container" style="position: fixed; top: 0; left: 0; right: 0; z-index: 9999;">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}
<main class="container mt-3">
    <div class="row">
        <!-- Sidebar (left) -->
        <div class="col-md-3">
            <div class="card shadow-sm bg-light">
                <div class="card-body p-0">
                    <!-- Profile Section -->
                    <div class="text-center bg-white py-3">
                        <img src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}/media/product_Images/dummyuser.jpeg{% endif %}" alt="Profile Picture" class="rounded-circle" style="width: 100px;">
                        <p class="mb-1 mt-2">Hello!,<i class="profile-name"><strong>{{ user.username }}</strong></i></p>
                        
                    </div>
        
                    <!-- Navigation Menu -->
                    <ul class="list-unstyled mt-3">
                        <!-- My Orders Section -->
                        <li class="d-flex align-items-center py-2 px-3">
                            <i class="bi bi-house-fill me-2"></i>
                            <a href="{% url 'userYourOrder' %}" class="d-block text-dark text-decoration-none">MY ORDERS</a>
                            <i class="fa-solid fa-greater-than ms-auto" style="color: #FFD43B;"></i>
                        </li>
                        <hr class="my-0">
        
                        <!-- Account Settings Section -->
                        <li class="py-2 px-3 bg-white">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-person-circle me-2"></i>
                                <span class="d-block text-muted">ACCOUNT SETTINGS</span>
                            </div>
                            <ul class="list-unstyled ms-3 mt-2">    
                                <li><a class="text-dark text-decoration-none {% if request.resolver_match.url_name == 'userProfileInformation' %}active{% endif %}" href="{% url 'userProfileInformation' %}">Profile Information</a></li>
                                <li><a class="text-dark text-decoration-none {% if request.resolver_match.url_name == 'userManageAddress' %}active{% endif %}" href="{% url 'userManageAddress' %}">Manage Addresses</a></li>
                                {% comment %} <li><a href="#" class="text-dark text-decoration-none">PAN Card Information</a></li> {% endcomment %}
                            </ul>
                        </li>
                        <hr class="my-0">
        
                        <!-- Payments Section -->
                        <li class="py-2 px-3 bg-white">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-wallet2 me-2"></i>
                                <span class="d-block text-muted">PAYMENTS</span>
                            </div>
                            <ul class="list-unstyled ms-3 mt-2">
                                <li><a href="{% url 'wallet_view' %}" class="text-dark text-decoration-none">Wallet</a></li>
                                {% comment %} <li><a href="#" class="text-dark text-decoration-none">Saved UPI</a></li>
                                <li><a href="#" class="text-dark text-decoration-none">Saved Cards</a></li> {% endcomment %}
                            </ul>
                        </li>
                        <hr class="my-0">
        
                        <!-- My Stuff Section -->
                        {% comment %} <li class="py-2 px-3 bg-white">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-folder-fill me-2"></i>
                                <span class="d-block text-muted">MY STUFF</span>
                            </div>
                            <ul class="list-unstyled ms-3 mt-2">
                                <li><a href="#" class="text-dark text-decoration-none">My Coupons</a></li>
                                <li><a href="#" class="text-dark text-decoration-none">Review and Ratings</a></li>
                                <li><a href="#" class="text-dark text-decoration-none">Wishlist</a></li>
                            </ul>
                        </li> {% endcomment %}
                        <li class="py-2 px-3 ">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <a href="{% url 'userlogout' %}" class="d-block text-muted text-decoration-none">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        {% block profile %} {% endblock %}

        <!-- Profile Details (right) -->
        
        
    </div>
</main>

{% endblock %}
