{% extends "userbase.html" %}
{% load socialaccount %}

{% block content %}
{% if messages %}
        <div class="alert-container" style="position: fixed; top: 0; left: 0; right: 0; z-index: 9999;">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Card for the login form -->
            <div class="card p-4 shadow login-card">
                <div class="card-body">
                    <h3 class="text-center display-4">Log In</h3>
                    <p class="text-center">Welcome Back!!!</p>

                    <!-- Render the login form -->
                    <form method="POST" action="{% url 'userlogin' %}">
                        {% csrf_token %}
                        <!-- Display non-field errors here -->
                        {% if form.non_field_errors %}
                        <div class="text-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}

                        <!-- Render email field -->
                        <div class="mb-3">
                            <label for="id_email">Email Address</label>
                            {{ form.email }}
                            {% comment %} {% for error in form.email.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %} {% endcomment %}
                        </div>

                        <!-- Render password field -->
                        <div class="mb-3">
                            <label for="id_password">Password</label>
                            {{ form.password }}
                            {% comment %} {% for error in form.password.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %} {% endcomment %}
                        </div>

                        <!-- Forgot password link -->
                        <div class="mb-3 text-right">
                            <a href="{% url 'forgPassEmailVerification' %}" class="decoration-none">Forgot password?</a>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-login w-100">Login</button>
                    </form>
                    {% comment %} {% if form.errors %}
                        <div class="error">
                             {{ form.errors }}
                        </div>
                    {% endif %} {% endcomment %}

                    <!-- Other options like signup or login via Google -->
                    <p class="text-center mt-3">New Customer? <a class="decoration-none" href="{% url 'usersignup' %}">Start here</a></p>
                    <hr>
                    <p class="text-center">or continue with</p>
                    <div class="text-center">
                        <a href="{% provider_login_url 'google' %}" class="btn btn-light border w-100">
                            <img src="https://developers.google.com/identity/images/g-logo.png" width="25" class="me-2"> Google
                        </a>
                    </div>

                    <!-- Terms and Conditions -->
                    <p class="text-center mt-3">
                        By clicking continue, you agree to our <a class="decoration-none" href="#">Terms of Service</a> and <a class="decoration-none" href="#">Privacy Policy</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
