{% extends 'adminbase.html' %}

{% block title %}Admin Orders{% endblock %}

{% block content %}
    <div class="col-md-10 ">
        <div class="d-flex justify-content-between align-items-center mt-0 mb-2 dash-head py-2 rounded text-white px-2">
            <h3>Orders</h3>
            <form class="d-flex" role="search" method='POST' action="{% url 'orderSearch' %}">
                {% csrf_token %}
                <input name="search" class="form-control me-2" type="search" placeholder="Search For orders" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead id="table-head" class="custom-table-header">
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in orders %}
                        <tr>
                            <td>{{ item.order.id }}</td>  <!-- Order ID -->
                            <td>{{ item.product.name }}</td>  <!-- Product Name -->
                            <td>{{ item.order.user.username }}</td>  <!-- Customer Name -->
                            <td>{{ item.order.created_at|date:"Y-m-d" }}</td>  <!-- Order Date -->
                            <td>{{ item.quantity }}</td>  <!-- Quantity -->
                            <td>&#8377;{{ item.get_total_price }}</td>  <!-- Total Price -->
                            <td>
                                <span class="badge 
                                    {% if item.status == 'Shipped' %} bg-warning 
                                    {% elif item.status == 'Delivered' %} bg-success 
                                    {% elif item.status == 'Cancelled' %} bg-danger
                                    {% else %} bg-secondary {% endif %}">
                                    {{ item.status }}
                                </span>
                            </td>
                            <td>
                                <a href="#" class="text-decoration-none text-primary" data-bs-toggle="modal" data-bs-target="#viewOrderModal{{ item.id }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                                {% if not item.status == 'Delivered' and not item.status == 'Refunded'%}
                                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#updateStatusModal{{ item.id }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>  
                                {% endif %}                              
                            </td>
                        </tr>

                        <!-- Update Status Modal -->
                        <div class="modal fade" id="updateStatusModal{{ item.id }}" tabindex="-1" aria-labelledby="updateStatusModalLabel{{ item.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateStatusModalLabel{{ item.id }}">Update Order Item Status</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="updateStatusForm{{ item.id }}" method="POST" action="{% url 'UpdateOrderStatus' item.id %}">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="orderStatus{{ item.id }}" class="form-label">Select Status</label>
                                                <select class="form-select" id="orderStatus{{ item.id }}" name="status" required>
                                                    <option value="Pending">Pending</option>
                                                    <option value="Delivered">Delivered</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                    <option value="Returned">Returned</option>
                                                    <option value="Refunded">Refunded</option>
                                                    <option value="Failed">Failed</option>
                                                    <option value="Shipped">Shipped</option>
                                                    <option value="Out of Delivery">Out of Delivery</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!--pagination controls for order table-->
        <div class="pagination justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if orders.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    
                    <!-- Display page numbers -->
                    {% for num in orders.paginator.page_range %}
                        <li class="page-item {% if orders.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    
                    {% if orders.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ orders.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
        {% for item in orders %}
            <!-- View Order Details Modal -->
            <div class="modal fade" id="viewOrderModal{{ item.id }}" tabindex="-1" aria-labelledby="viewOrderModalLabel{{ item.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewOrderModalLabel{{ item.id }}">Order Details - Order #{{ item.order.id }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Customer Name:</strong> {{ item.order.user.username }}</p>
                            <p><strong>Payment Method:</strong> {{ item.order.paymentmethod }}</p>
                            <p><strong>Address:</strong> 
                            {{item.order.address.address }}, {{ item.order.address.city }}, {{ item.order.address.place }}, {{ item.order.address.pincode }}                                
                  
                            </p>
                            <p><strong>Status:</strong> {{ item.status }}</p>
                            <p><strong>Order Date:</strong> {{ item.order.created_at|date:"Y-m-d" }}</p>
                            <p><strong>Total Price:</strong> &#8377;{{ item.get_total_price }}</p>
                            <p><strong>Payment Status:</strong>{{ item.order.is_paid }}</p>
                            <hr>

                            <!-- Order Items Section -->
                            <h6>Order Items:</h6>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="{{ item.product.product_images.first.images.url }}" alt="{{ item.product.name }}" width="50" height="50"></td>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>&#8377;{{ item.price }}</td>
                                        <td>&#8377;{{ item.get_total_price }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        

    </div>
{% endblock %}
